<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<form th:method="patch" th:action="@{/Users/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="id">Id</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="id">
    <br/>
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name">
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    <br/>
    <label for="surName">surName</label>
    <input type="text" th:field="*{surName}" id="surName">
    <div style="color:red" th:if="${#fields.hasErrors('surName')}" th:errors="*{surName}">surName Error</div>
    <br/>
    <input type="submit" value="Update user"/>
</form>
</body>
</html>